// Colors
$red: #DF6032;
$black: #323232;
$white: #F0EFEF;

// Fonts
$inter: 'Inter', sans-serif;
$font-size-base: 16px;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-xlarge: 32px;

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

// Other variables
$border-radius: 4px;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);