@import "./reset.scss";
@import "./variables";

body {
    position: relative;
    background: $white;
    font-family: $inter;
    font-size: $font-size-base;
    overflow: hidden;
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
